.container__bg {
    background: #fafafa;
  }
  .row {
    display: flex;
  }
  .lightblack {
    color: #707070;
  }
  
  .blackish {
    color: rgb(255, 255, 255);
  }
  
  .column {
    display: block;
    flex-direction: column;
  }
  
  .redish {
    color: #f85a40;
  }
  
  .white {
    color: white;
  }
  
  .nav-logo {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .btn {
    padding: 0.85em 2em;
    border-radius: 5px;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 0.95rem;
    cursor: pointer;
  }
  
  .one {
    min-height:100vh;
    background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
      url("../public/Images/Background.png");
    background-position: center;
    background-size: cover;
  }


  .content {
    padding-left: 5%;
  }
  
  .text_content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
    padding: 11rem 0;
  }
  .text_content h1 {
    width: 440px;
    font-size: 38px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    line-height: 55px;
  }
  .text_content strong{
    color: #18181a;
  }
  .text_content p {
    font-size: 1.15rem;
    letter-spacing: 0.35px;
    font-weight: 100;
    font-family: "Raleway", sans-serif;
    margin-bottom: 35px;
    margin-top: 1rem;
  }
 
  /* button  */

  .button_57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button_57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button_57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
  
  .button_57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(129, 129, 129);
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .button_57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .button_57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }



@media (max-width: 470px) {
  .white{
    max-width: 75%;
  }
  .blackish{
    max-width: 75%;
    text-align: left;
  }
}
  


  /* how it works section */

.flex_container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.flex_item_left {
  padding: 10px;
  flex: 50%;
}

.flex_item_right {
  padding: 10px;
  flex: 50%;
  padding-top: 60px;
}


.how_it_works{
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #FFEFD5;
}
.flex_item_right h2{
   margin: 2rem 0px;
   font-family: Source Sans Pro, sans-serif;
   margin-bottom: 1rem;
}
.how_it_works h1{
  font-size: 75px;
  
}

.how_it_works p {

  /* font-family: Spectral, serif; */
  font-size: 13px;
  margin-bottom: 3px;
}

.how_it_works img {
  width: 520px;
  margin-top: 2rem;
} 

@media (max-width: 675px) {
  .flex_item_right, .flex_item_left {
    flex: 100%;
  }
}
@media (max-width: 670px) {
  .how_it_works{
    margin-left: 30px;
    margin-right: 30px;
  }
  .flex_item_left h1{
    font-size: 50px;
  }
}
@media (max-width: 570px) {
.how_it_works{
  margin-left: 8px;
  margin-right: 8px;
}
.how_it_works img{
  width: 430px;
}
}

@media (max-width: 470px) {
  .how_it_works {
    margin-top: 3rem;
    /* margin */
  }
  .flex_item_left {
    flex: 100%;
    padding-top: 3rem;
  }
  
  .flex_item_right {
    flex: 100%;
    padding-top: 30px;
  }
  
  .how_it_works h1 {
    font-size: 45px;
  }
  
  .how_it_works img {
    width: 100%;
  }
}
.footer_seciton{
  background-color: black;
}




.contact {
  width: 100%;
  height: 100%;
}

.section_header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form_horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form_control textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send_button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send_text {
  display: block;
  /* margin-top: 10px; */
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct_contact_container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact_list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list_item {
  line-height: 4;
  color: #aaa;
}

.contact_text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
  margin-left: 15px;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact_text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact_text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social_media_list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social_media_list li a {
  color: #fff;
}

.social_media_list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social_media_list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social_media_list li:hover {
  background-color: #fff; 
}

.social_media_list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social_media_list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 5px;
}

.hr {
  border-color: rgba(255,255,255,.6);
}
.col_sm_12 input{
  background-color: transparent;
  padding: 1.2rem;
  width: 100%;
  margin: 5px;
  border: 1px solid #ffffff86;
  border-radius: 0.5rem;
}
.form_control {
  background-color: transparent;
  padding: 1.2rem;
  width: 100%;
  margin: 5px;
  border: 1px solid #ffffff86;
  border-radius: 0.5rem;
}
/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact_wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct_contact_container, .form_horizontal {
    margin: 0 auto;
  }  
  
  .direct_contact_container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social_media_list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social_media_list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct_contact_container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form_control textarea {
    
    margin: 0 auto;
  }
 .section_header {
  font-size: 2.5rem;
 }
  
  .name, .email textarea {
    width: 280px;
  } 
  
  .direct_contact_container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social_media_list {
    left: 0;
  }
  .social_media_list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social_media_list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 430px) {
  .send_button {
    width: 99%;
  }
  .direct_contact_container{
    text-align: center;
  }
}

