.container__bg {
    background: #fafafa;
  }
  .row {
    display: flex;
  }
  .lightblack {
    color: #707070;
  }
  
  .blackish {
    color: rgb(255, 255, 255);
  }
  
  .column {
    display: block;
    flex-direction: column;
  }
  
  .redish {
    color: #f85a40;
  }
  
  .white {
    color: white;
  }
  
  .nav-logo {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .btn {
    padding: 0.85em 2em;
    border-radius: 5px;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 0.95rem;
    cursor: pointer;
  }
  
  .one {
    min-height:100vh;
    background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
      url("../public/Images/Background.png");
    background-position: center;
    background-size: cover;
  }


  .content {
    padding-left: 5%;
  }
  
  .text_content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
    padding: 11rem 0;
  }
  .text_content h1 {
    width: 440px;
    font-size: 38px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    line-height: 55px;
  }
  .text_content strong{
    color: #18181a;
  }
  .text_content p {
    font-size: 1.15rem;
    letter-spacing: 0.35px;
    font-weight: 100;
    font-family: "Raleway", sans-serif;
    margin-bottom: 35px;
    margin-top: 1rem;
  }
 
  /* button  */

  .button_57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button_57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button_57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
  
  .button_57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(129, 129, 129);
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .button_57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .button_57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }



@media (max-width: 470px) {
  .white{
    max-width: 75%;
  }
  .blackish{
    max-width: 75%;
    text-align: left;
  }
}
  


  /* how it works section */

.flex_container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.flex_item_left {
  padding: 10px;
  flex: 50%;
}

.flex_item_right {
  padding: 10px;
  flex: 50%;
  padding-top: 60px;
}

/*webpage content*/

.how_it_works{
  margin-left: 60px;
  margin-right: 60px;
  background-color: #FFEFD5;
}
.flex_item_right h2{
   margin: 2rem 0px;
   font-family: Source Sans Pro, sans-serif;
}
/* .how_it_works h1, h2, h3, h4 {

  font-family: Source Sans Pro, sans-serif;
  
}
*/
.how_it_works h1{
  font-size: 75px;
  
}

.how_it_works p {

  font-family: Spectral, serif;
  font-size: 16px;
  margin-bottom: 3px;
}

.how_it_works img {
  width: 520px;
  margin-top: 2rem;
} 


/* Responsive layout - mobile format */
@media (max-width: 675px) {
  .flex_item_right, .flex_item_left {
    flex: 100%;
  }
}